.myDiv {
  transform: rotateY(180deg);
  /* border: gray 10px solid; */
}

video {
  border: #0d6efd 5px solid;
}

.nav-link {
  color: white !important;
}

.navs {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: flex-end !important;
  font-size: 20px;
  /* width: 30%; */
}
